/* GERAL */

/* back card #A7B8D9 */

/* back content #97ADCE */

* {
  padding: 0;
  margin: 0;
}

body {
  background: #B5C5E0;
  box-sizing: border-box;
  height: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.weather-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.weather {
  background: #97ADCE;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;

}

/* FORMULARIO PESQUISA */
.form h3 {
  margin-bottom: 1rem;
  color: #ffffff;
}

.form-input-container {
  display: flex;
}

.form input {
  padding: 0.8rem;
  border: none;
  flex: 1;
  border-radius: 5px;
  margin-right: 8px;
}

.form button {
  padding: 0.8rem;
  min-width: 50px;
  background-color: #B5C5E0;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.info {
  border-top: 1px solid #ffffff;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}

.info h2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
  margin-bottom: 0.6rem;
}

.info h2 i {
  font-size: 1.2rem;
}

#country {
  height: 50px;
}

.temperature {
  font-size: 4rem;
  color: #ffffff;
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 0;
}

.description {
  color: #ffffff;
  font-size: 1.3rem;
  text-transform: capitalize;
  font-weight: bold;
}

/* INFO DA TEMPERATURA */

.weather-info {
  /* background: pink; */
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
}

.weather-info section {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.temp-max,
.temp-min,
.humidity,
.feels-like,
.windy,
.sunrise,
.sunset {
  background: #97ADCE;
  padding: 20px;
  color: #ffffff;
  width: 150px;
  height: auto;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.max-info,
.min-info,
.sensacao-info,
.humidade-info,
.windy-info,
.sunrise-info,
.sunset-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

}

.temp-max article,
.temp-min article,
.feels-like article,
.sensacao article,
.humidity article,
.windy article,
.sunrise article,
.sunset article {
  color: #ffffff;
}

.temp-info {
  text-align: center;
  display: flex;
  justify-content: center;
}

.temp-info span {
  margin-left: 15px;
}

.windy .temp-info span {
  margin-left: 15px;
}

/* Temperatura por Horário */

.temp-hour {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.temp-hour-card {
  background: #97ADCE;
  border-radius: 15px;
  width: 135px;
  height: auto;
  color: #ffffff;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.temp-hour-card h3 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.3rem;
}

.temp-card-temp {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 12px;
}

.temp-card-humidity {
  margin-bottom: 20px;
}

.temp-card-descricao {
  font-weight: 500;
  font-size: 1.2rem;
}